
.examples-of-suitable-entries  {
    background: #F1CDBE;
}

.examples-of-suitable-entries header {
    color: #DE5499;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 21px;
}

.example-entries.row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.suitable-entry.col {
    padding-right: 127px;
}

.suitable-entry header {
    font-size: 25px;
    padding-bottom: 0px;
}

.entry-text {
    font-family: "Sarabun";
    color: black;
    font-weight: bold;
}

.not-suitable-entry header {
    font-size: 25px;
    padding-bottom: 0px;
}

.not-suitable-entry-span {
    color: black;
}

.entry-images.row {
    display: flex;
    justify-content: center;
    gap: 70px;
}


.entry-image.col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.disclaimer {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Sarabun";
    color: black;
    font-size: 25px;
}
