
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    font-family: 'Sarabun';
    align-items: center;
    margin-right: 3rem;
    margin-left: 3rem;
}

.logo {
    float: left;
    width: 136px;
    height: 69px;
    margin-right: 3rem;
}

li {
    list-style: none;
}

a{ 
    text-decoration: none;
    color: #CE5D97;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-weight: 600;
    font-size: 20px;
}