.container {
    padding: 0;
    margin: 0;
    font-family: 'Sarabun';
}

.slogan-container {
    text-align: center;
    font-size: 25px;
    display: inline-block;
}

.homepage-logo {
    display: flex;
    justify-content: center;
}

.slogan {
    text-align: left;
}


