
.partnerships-container {
    margin-left: 3rem;
    margin-right: 3rem;
}

.partnerships-wrapper {
    width: 800px;
    margin: auto 0;
}

.partnerships-flexbox {
    display: flex;
    gap: 50px;
    align-items: center;
}

.partnerships-container img {
    width: auto;
    height: 100%;
}

.partnerships-container header {
    padding-top: 21px;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 25px;
}

.partnerships-container p {
    font-family: "Sarabun";
    color: black;
    font-size: 20px;
}

.partnerships-container img {
    overflow-clip-margin: none;
}

.partnership-button-row.row {
    display: flex;
    gap: 50px;
    font-weight: 400;
    align-items: center;
    padding-bottom: 25px;
}

.partnership-button {
    background: #DE5499;
    height: 39px;
    width: 144px;
    text-align: center;
    font-family: "Sarabun";
    font-size: 13px;
    line-height: 35px;
    color: white;
}

.partnership-button a {
    text-decoration: none;
    color: white;
}