@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto&display=swap');

html, body {
  margin: 0;
  background-color: #EDDCD9;
  color: #DE5499;
  font-family: "Playfair Display";
  padding-top: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height:100vh;
}

.main-container {
  min-height: 100%;
}

.main-content {
  overflow: auto;
  padding-bottom: 100px;
}